body{
    background-color:aliceblue;
 }
 .title{
    margin-top: 200px;
 margin-bottom: 10px;
 text-align:center;
 width: 210px;
 color:green;
 border: solid black 3px;
 
}

 input[type="button"]
 {
 background-color:green;
 color: black;
 border: solid black 5px;
 width:100%
 }

 input[type="text"]
 {
 background-color:white;
 border: solid black 4px;
 width:100%
 }